<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <title>TAKARA Motor OIL</title>
    <!--<link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <link rel="stylesheet" href="css/swiper.min.css"> -->
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<ul class="slider__pagination">
    <li class="pag__left-arrow"></li>
    <li class="pag__item">1</li>
    <li class="pag__item">2</li>
    <li class="pag__item">3</li>
    <li class="pag__item">4</li>
    <li class="pag__right-arrow"></li>
</ul>


</body>
</html>