<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <title>TAKARA Motor OIL</title>
    <!--<link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <link rel="stylesheet" href="css/swiper.min.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header__top">
            <div class="container">
                <div class="header__logo logo-wrapper">
                    <img src="img/logo.svg" alt="TAKARA OIL">
                </div>
                <div class="header__slogan">
                    <p>Производитель японских масел</p>
                </div>
                <div class="header__search">
                    <form class="search-form" method="get" action="/search/">
                        <input class="search-form__input" name="search" autocomplete="off" placeholder="Поиск"
                               size="20" pattern="{3,}">
                        <button class="search-form__button" type="submit" title="Поиск">
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.7567 15.0949L11.8125 10.9927C12.8266 9.78708 13.3823 8.27023 13.3823
                        6.69113C13.3823 3.0017 10.3806 0 6.69113 0C3.0017 0 0 3.0017 0 6.69113C0 10.3806
                        3.0017 13.3823 6.69113 13.3823C8.07619 13.3823 9.39609 12.9645 10.5246 12.1715L14.4988
                        16.3048C14.6649 16.4773 14.8883 16.5725 15.1278 16.5725C15.3544 16.5725 15.5694 16.4861
                        15.7326 16.329C16.0794 15.9953 16.0904 15.442 15.7567 15.0949ZM6.69113 1.74551C9.4182
                        1.74551 11.6367 3.96406 11.6367 6.69113C11.6367 9.4182 9.4182 11.6367 6.69113 11.6367C3.96406
                        11.6367 1.74551 9.4182 1.74551 6.69113C1.74551 3.96406 3.96406 1.74551 6.69113 1.74551Z"
                                      fill="white" fill-opacity="0.3"></path>
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="header__user-menu">
                    <p>Личный кабинет</p>
                </div>
                <div class="header__lang-selector">
                    <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M27.4229 6.00004H0.949219V0.473706C0.949219 0.212116 1.15361 0 1.40568 0H26.9665C27.2185 0 27.4229 0.212116 27.4229 0.473706L27.4229 6.00004Z" fill="#F5F5F5"/>
                        <path d="M26.9664 17.9997H1.40568C1.15361 17.9997 0.949219 17.7876 0.949219 17.526V11.9998H27.4229V17.526C27.4229 17.7877 27.2185 17.9997 26.9664 17.9997Z" fill="#FF4B55"/>
                        <path d="M27.4229 5.99976H0.949219V11.9994H27.4229V5.99976Z" fill="#41479B"/>
                    </svg>
                    <p>RU</p>
                </div>
            </div>
        </div>
        <nav class="main-header__bottom">
            <div class="container">
                <div class="main-header__navbar">
                    <ul>
                        <li><a href="#">Каталог продукции</a></li>
                        <li><a href="#">Каталог применяемости</a></li>
                        <li><a href="#">О бренде TAKARA</a></li>
                        <li><a href="#">Статьи</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="main-header__callback">
                    <a class="button" href="#">Связаться с нами</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="main-page">
        <div class="slider">

        </div>
        <section class="products-catalog">
            <div class="products-catalog__title">
                <h2>Каталог продукции</h2>
            </div>
            <div class="product-catalog__sections">
                <div class="product-catalog__section">
                    <img src="img/logo-oil.png" alt="Моторные масла">
                    <p>Моторные масла</p>
                </div>
                <div class="product-catalog__section">
                    <img src="img/logo-akpp-liquids.png" alt="Жидкости для АКПП">
                    <p>Жидкости для АКПП</p>
                </div>
                <div class="product-catalog__section">
                    <img src="img/logo_transmission_oil.png" alt="Трансмиссионные масла">
                    <p>Трансмиссионные масла</p>
                </div>
            </div>
            <div class="products-catalog__car-parts">
                <div class="products-catalog__car-part">
                    <img src="img/icon-motor.svg" alt="Двигатель">
                </div>
                <div class="products-catalog__car-part">
                    <img src="img/icon-akpp.svg" alt="Коробка передач">
                </div>
                <div class="products-catalog__car-part">
                    <img src="img/icon-transmission.svg" alt="Трансмиссия">
                </div>
            </div>
        </section>
        <section class="features">

        </section>
        <section class="pick-up-oil">

        </section>
        <section class="about-brand">

        </section>
        <section class="articles">

        </section>
        <section class="callback">

        </section>
    </main>
    <footer class="main-footer">

    </footer>
</body>
</html>