@font-face {
    font-family: "Days One";
    src: url("../fonts/DaysOne-Regular.ttf") format("opentype");
    font-style: normal;
    font-weight: 400; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover,
a:active {
    color: #E60013;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: "Days One", "Arial Black", sans-sarif;
    font-style: normal;
    font-weight: 400;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    line-height: 1.25;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
button,
textarea {outline:none;}


button {
    background: none;
    border: none;
    color: #FFF;
    text-transform: uppercase;
}


/**Main styles**/

main {
    overflow: hidden;
}

p {
    color: #fff;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 1.3em;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
.btn__more {
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 3em;
    line-height: 1.25;
}

h3 {
    font-size: 1.5em;
    line-height: 1.5;
}

h4,
input,
button,
.btn__more
 {
    font-size: 1em;
    line-height: 1.25;
    cursor: pointer;
}

input,
button {
    font-family:  Days One, Arial Black, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.hight-paragraph {
    font-size: 1.3em;
    line-height: 1.375;
    text-transform: uppercase;
}

.btn__more {
    position: relative;
}

.btn__more::after {
    content: "";
    display: block;
    position: absolute;
    right: -4.2em;
    top: 50%;
    transform: translateY(-50%);
    width: 3.3em;
    height: 2em;
    background: url("../img/icon-arrow.svg") 50% 50% no-repeat;
    background-size: contain;
    transition: right 0.2s;
}

.btn__more:hover:after {
    right: -5em;
    transition: right 0.2s;
}

.main-header__row {
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
}

.header__logo {
    width: 192px;
    height: 34px;
    margin-right: 25px;
}

.header__slogan {
    display: block;
    width: 128px;
    margin-right: 20px;
}

.search-form {
    position: relative;
    width: 100%;
}

.header__search {
    width: 40%;
}

.header__search_focus {
    position: absolute;
    transform: translateY(-50%);
    z-index: 100;
    top: 50%;
    left: 0;
    width: 100%;
}

.search-form__input {
    overflow: visible;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 12px 20px;
    background-color: #000;
    color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

.search-form__input:focus {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.search-form__button {
    position: absolute;
    box-sizing: border-box;
    overflow: visible;
    height: 17px;
    right: 13px;
    top: 50%;
    margin: -9px 0 0;
    cursor: pointer;
    background: none;
    border: none;
    opacity: 0.3;
}

.search-form__button_focus {
    opacity: 1;
}

.header__user-menu {
    position: relative;
    text-transform: uppercase;
    margin-right: 40px;
    margin-left: 60px;
    padding: 13px 0;
}

.header__user-menu svg {
    position: absolute;
    left: -21px;
    width: 11px;
    height: 15px;
}

.header__user-menu-link:hover path {
    fill: #E60013;
}

.header__user-menu:hover a {
    color: #E60013;
}

.header__lang-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-right: 15px;
}

.header__lang-selector span {
    position: relative;
    margin-left: 10px;
}

.header__lang-selector span::after {
    content: "";
    display: block;
    position: absolute;
    right: -15px;
    top: 50%;
    width: 9px;
    height: 5px;
    margin-top: -2.5px;
    background: url("../img/vector-down_small.svg") no-repeat;
}

/**------------------main header bottom row-----------------------**/

.main-header__bottom {
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.main-header__navbar-items {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 250px);
    text-transform: uppercase;
}

.main-header__navbar-item {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 7px;
    text-align: center;
}

.main-header__navbar-line {
    min-height: 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.main-header__navbar-nested {
    display: none;
    position: absolute;
    left: -22px;
    top: -32px;
    z-index: 5;
    width: 130%;
    background: #000;
    border: 1px solid #3C3C3C;
    box-sizing: border-box;
    padding: 86px 10px 6px 30px;
}

.main-header__navbar-nested-item {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.main-header__navbar-nested-item-title {
    position: absolute;
    left: 28px;
    top: 38px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.main-header__navbar-nested-item-title svg {
    transform: rotate(180deg);
    margin-left: 8px;
}

.main-header__navbar-nested-item::after {
    content: "";
    display: block;
    position: absolute;
    left: 30px;
    top: 66px;
    width: 43px;
    border-bottom: 2px solid #E60013;
}

.main-header__navbar-item a,
.main-header__navbar-item svg {
    display: block;
}

.main-header__navbar-item:hover {
    opacity: 1;
}

.main-header__navbar-item:hover .main-header__navbar-nested {
    display: block;
}

.main-header__navbar-item:hover > svg {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}

.main-header__navbar-item > svg {
    transform: rotate(0deg);
    transition: transform 0.2s ease;
    margin-left: 8px;
}

/**-----------------btn styles------------------------**/

.btn {
    box-sizing: border-box;
    border: 2px solid #E60013;
}

.btn_small {
    padding: 13px 15px;
}

.btn_large {

}

.btn_fill {

}

.btn-callback {
    position: relative;
    padding-left: 37px;
}

.btn-callback::before {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    width: 12px;
    height: 12px;
    background: url("../img/icon-phone.svg") no-repeat;
}

/**-----------------slider styles------------------------**/

.slider {
    position: relative;
}

.slider__viewport {
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 100vh;
}

#slide-wrapper {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    height: 100%;
}

.slide {
    display: inline;
    float: left;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.slider__img {
    width: calc(100vw - 60px);
    max-width: 1140px;
    height: 100%;
    object-fit: cover;
}

.slider__frame {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    left: 22%;
    width: 63%;
    height: 62vh;
    max-height: 400px;
}

.slider__border {
    position: absolute;
}

.slider__border-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    border: 5px solid #FFFFFF;
    border-bottom: none;
}

.slider__border-right {
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-right: 5px solid #FFFFFF;
}

.slider__border-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    border: 5px solid #FFFFFF;
    border-top: none;
}

.slider__title-container {
    position: absolute;
    top: 10%;
    left: -80px;
    max-width: 100%;
    max-height: 70%;
    overflow: hidden;
    text-transform: uppercase;
}

.slider__title {
    font-size: 5.3em;
    line-height: 1.1;
    color: #E60013;
}

.slider__description {
    font-size: 3.3em;
    line-height: 1.4;
    color: #FFF;
    max-height: 40%;
}

@media screen and (max-width: 900px) {
    .slider__frame {
        left: 30%;
    }
    .slider__title {
        font-size: 3.3em;
        line-height: 1.1;
    }
    .slider__description {
        font-size: 2.3em;
        line-height: 1.4;
        max-height: 40%;
    }
}

.slider__btn {
    margin-top: 336px;
    margin-left: 62px;
}

.my-pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.slider__pagination-container {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
}

.slider__pagination {
    bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.pag__arrow {
    width: 13px;
    height: 23px;
    background: url("../img/vector-right.svg") center no-repeat;
    background-size: 60%;
    opacity: 0.5;
}

.pag__arrow a {
    display: block;
    width: 13px;
    height: 23px;
}

.pag__item {
    margin-right: 20px;
    font-family: Days One, serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.5;
}

.pag__left-arrow {
    transform: rotate(180deg);
    margin-right: 20px;
}

.pag__item_active {
    font-size: 18px;
    line-height: 23px;
    opacity: 1;
}

.pag__arrow_active {
    background-size: 100%;
    opacity: 1;
}

.slider__pagination-border-right,
.slider__pagination-border-left {
    width: 100%;
    margin: 0 30px;
    border-bottom: 2px solid rgba(255,255,255,0.5);
}

.slider__logo {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.1;
}

/**-----------------products-catalog styles------------------------**/

.products-catalog {
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0px,
        rgba(0, 0, 0, 0.85) 221px,
        rgba(0, 0, 0, 0.453125) 391px,
        rgba(0, 0, 0, 0.4) 457px,
        rgba(0, 0, 0, 0.4) 100%),
    url("../img/bg-catalog.jpg");
    background-size: 100% 100%;
    padding-top: 80px;
    height: 70vw;
    max-height: 853px;
}

.products-catalog__title {
    width: 100%;
    text-align: center;
}

.section__title {
    position: relative;
}

.section__title::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 57px;
    height: 0;
    opacity: 0.5;
    border-bottom: 2px solid #FFFFFF;
}

.product-catalog__sections-list {
    height: 100%;
}

.products-catalog .js-init-slide-screen {
    height: 100%;
}

.products-catalog .slick-track{
    height: 100%;
}

.products-catalog .draggable {
    height: 100%;
}

.product-catalog__sections {
    max-width: 930px;
    max-height: 600px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
    flex-direction: row;
    margin: 132px auto 0;
    height: 100%;
}

.product-catalog__sections a {
    height: 100%;
}

.product-catalog__sections-list {
    position: relative;
}

.product-catalog__img {
    position: relative;
    width: 232px;
    height: 84px;
    margin-bottom: 16px;
    border: 2px solid #FFFFFF;
    border-top: none;
}

.product-catalog__border-left,
.product-catalog__border-right {
    position: absolute;
    top: 0;
    border-top: 2px solid #FFFFFF;
}

.product-catalog__border-left {
    left: 0;
    width: 15px;
}

.product-catalog__border-right {
    right: 0;
    width: 15px;
}

.product-catalog__section img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 235px;
    max-height: 138px;
}

.product-catalog__section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 10px;
    max-width: 306px;
    font-size: 2em;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
}

.products-catalog__car-part {
    position: absolute;
}

.products-catalog__motornye-masla {
    top: 371px;
    left: 216px;
}

.products-catalog__reduktornye-masla {
    top: 409px;
    left: 625px;
}

.products-catalog__transmissionnye-masla {
    top: 454px;
    left: 845px;
}

@media screen and (max-width: 1000px) {
    .products-catalog__motornye-masla {
        top: auto;
        bottom: 24vw;
        left: 17vw;
    }
    .products-catalog__reduktornye-masla {
        top: auto;
        bottom: 21vw;
        left: 51vw;
    }
    .products-catalog__transmissionnye-masla {
        top: auto;
        bottom: 19vw;
        left: 72vw;
    }
}

/**-----------------features styles------------------------**/

.features {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(../img/bg-features.jpg);
    background-size: cover;
    padding: 103px 0 80px;
}

.features__container {
    position: relative;
    min-height: 617px;
    padding: 0 94px;
    margin: 0 35px;
}

.features__title {
    position: absolute;
    top: 0;
    left: 50%;
    width: 400px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.features__item-title {
    position: relative;
    margin-top: 43px;
    margin-bottom: 29px;
    text-align: center;
    text-transform: none;
    font-size: 2em;
    line-height: 1.3;
}

@media screen and (max-width: 800px) {
    .features__item-title {
        font-size: 1.5em;
        line-height: 1.3;
    }
    .features__item-description p {
        font-size: 1em;
        line-height: 1.3;
    }
}

@media screen and (max-width: 1000px) {
    .features__container {
        padding: 0 10px;
    }
}

.features__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 123px;
    padding: 0 5px;
}

.features__item-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.features__item-title::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 30px;
    height: 0;
    transform: translateX(-50%);
    opacity: 0.5;
    border-bottom: 2px solid #FFFFFF;
}

.features__item-description {
    text-align: center;
}

.border {
    content: "";
    display: block;
    position: absolute;
}

.border-left-top {
    top: 0;
    left: 0;
    width: 16vw;
    height: 9vw;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
}

.border-right-top {
    top: 0;
    right: 0;
    width: 16vw;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.border-left-bottom {
    bottom: 0;
    left: 0;
    width: 21.5vw;
    height: 9vw;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
}

.border-right-bottom {
    bottom: 0;
    right: 0;
    width: 21.5vw;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.border-right {
    top: 0;
    right: -2px;
    height: 100%;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
}

/**-----------------pick-up-oil styles------------------------**/

.pick-up-oil {
    min-height: 632px;
    background-size: cover;
    padding-top: 84px;
    padding-left: 148px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.15) 34.47%, rgba(0, 0, 0, 0.87) 53.52%,
    rgba(0, 0, 0, 0.954941) 76.99%, #010101 89.43%),
    url(../img/bg-select-oil.jpg) no-repeat;
    background-size: cover;
}

.pick-up-oil__title {
    width: 434px;
    margin-bottom: 76px;
}

.title-red-line {
    position: relative;
}

.title-red-line::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 90px;
    border-bottom: 3px solid #E60013;
}

.pick-up-oil__form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 434px;
    height: 357px;
}

.pick-up-oil__select,
.pick-up-oil__select-unfocus {
    padding-left: 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
}

.pick-up-oil__select-unfocus::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 21px;
    transform: translate(0, -50%);
    width: 16px;
    height: 9px;
    background: url("../img/vector-down.svg");
}

.pick-up-oil__select-unfocus {
    position: relative;
    height: 54px;
    width: 434px;
    display: flex;
    align-items: center;
    border: 2px solid #FFFFFF;
    font-size: 1.3em;
    line-height: 1.3;
}

.pick-up-oil__select-title {
    position: relative;
    margin: 16px 20px 25px;
}

.pick-up-oil__select-title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 43px;
    border-bottom: 2px solid #E60013;
}

.pick-up-oil__select_container {
    display: none;
    position: absolute;
    width: 100%;
    height: 229px;
    top: 0;
    left: 0;
    background: #000;
    border: 2px solid #FFFFFF;
}

.pick-up-oil__select {
    height: 150px;
    width: 386px;
    border: none;
}

.pick-up-oil__select_container_active {
    display: block;
}

.pick-up-oil__select-title::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    width: 16px;
    height: 9px;
    background: url("../img/vector-down.svg");
}

.pick-up-oil__option {
    background: #000;
    outline: none;
    margin-bottom: 10px;
    color: #FFF;
}

.pick-up-oil__option,
.pick-up-oil__select-title {
    font-family: "Days One", "Arial Black", sans-sarif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.3;
    text-transform: uppercase;
}

.pick-up-oil__select::-webkit-scrollbar {
    width: 3px;
    background: none;
}

.pick-up-oil__select::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: #E60013;
}

.pick-up-oil__select::-webkit-scrollbar-track {
    width: 1px;
    background-color: #FFF;
}

.pick-up-oil__form_button {
    position: relative;
    width: 434px;
    height: 54px;
    box-sizing: border-box;
    padding-left: 20px;
    background: #E60013;
    border: 2px solid #E60013;
    text-align: left;
}

.pick-up-oil__form_button::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;
    width: 19px;
    height: 21px;
    background: url("../img/icon-oil.svg");
}

.pick-up-oil__form_reset {
    position: relative;
    width: 234px;
    padding-left: 20px;
    text-align: left;
    background: none;
    border: none;
}

.pick-up-oil__form_reset::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    width: 12px;
    height: 12px;
    background: url("../img/icon-close.svg") no-repeat;
}

/**-----------------about-brand styles------------------------**/

.about-brand .my-container {
    min-height: 800px;
    background-size: cover;
    padding-top: 82px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ),
    url(../img/bg-about-brand.jpg);
}

.about-brand__container {
    position: relative;
    width: 1096px;
    height: 640px;
    padding: 48px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-brand__description p {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.border-top {
    top: 0;
    left: 0;
    width: 1096px;
    height: 195px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
}

.border-center {
    top: 0;
    left: 50%;
    width: 0;
    height: 339px;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
}

.about-brand__title {
    width: 433px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    z-index: 5;
}

.about-brand__description {
    width: 433px;
    z-index: 5;
}

.about-brand__btn {
    margin-top: 55px;
}

.articles__container {
    min-height: 1036px;
    padding-top: 71px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../img/bg-articles.jpg);
    background-size: 100% 110%;
    background-position: center;
}

.articles__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 85px;
}

.articles__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.articles__item {
    width: 350px;
    min-height: 587px;
    padding: 22px 20px 29px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.articles__item_center {
    position: relative;
    top: 50px;
}

.articles__item_logo {
    position: relative;
    width: 308px;
    height: 206px;
    margin-bottom: 60px;
}

.articles__item_logo::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 40px;
    height: 0;
    border-bottom: 2px solid #E60013;
}

.articles__item_date {
    margin-bottom: 20px;
}

.articles__item_title {
    margin-bottom: 20px;
}

.articles__item_description {
    margin-bottom: 40px;
}

.articles__btn {
    margin-top: 108px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.callback .my-container {
    min-height: 531px;
    padding-top: 80px;
    padding-left: 176px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) top,
    url(../img/bg-callback.jpg) top;
    background-size: 100% 125%;
}

.callback__container {
    position: relative;
    width: 762px;
    height: 368px;
    padding-top: 300px;
    padding-left: 38px;
}

.frame {
    content: "";
    display: block;
    position: absolute;
}

.frame_1 {
    top: 0;
    left: 0;
    width: 400px;
    height: 41px;
    border-left: 5px solid #FFFFFF;
    border-top: 5px solid #FFFFFF;
}

.frame_2 {
    top: 0;
    right: 0;
    width: 400px;
    height: 114px;
    border-right: 5px solid #FFFFFF;
    border-top: 5px solid #FFFFFF;
}

.frame_3 {
    bottom: 0;
    right: 0;
    width: 400px;
    height: 166px;
    border-right: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
}

.frame_4 {
    bottom: 0;
    left: 0;
    width: 400px;
    height: 93px;
    border-left: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
}

.callback__title {
    position: absolute;
    top: 46px;
    left: -104px;
    width: 1052px;
    height: 210px;
    font-size: 64px;
    line-height: 70px;
    text-transform: uppercase;
}

.callback__title_red {
    color: #E60013;
}

.main-footer__container {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.main-footer__col {
    width: 320px;
}

.main-footer__logo {
    margin-bottom: 40px;
}

.main-footer__mailing-form {
    margin-top: 30px;
}

.main-footer__mailing-form_fieldset {
    width: 251px;
    height: 41px;
    padding: 5px 0 40px;
    border: 2px solid rgba(255,255,255,0.5);
}

.main-footer__mailing-form_fieldset legend {
    margin-left: 15px;
    padding: 0 5px;
}

.main-footer__mailing-input {
    width: 100%;
    background: none;
    border: none;
    padding-left: 10px;
}

.main-footer__mailing-btn {
    width: 251px;
    height: 41px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 13px 73px;
    border: 2px solid #E60013;
    background: none;
}

.main-footer__mailing p {
    font-family: Montserrat, serif;
    font-style: normal;
    font-size: 10px;
    line-height: 12px;
}

.main-footer__mailing a {
    color: #E60013;
}

.main-footer__copyright {
    margin-top: 43px;
    margin-bottom: 53px;
}

.main-footer__nav li {
    margin-bottom: 20px;
}

.main-footer__nav li:first-of-type a {
    color: #E60013;
}

.main-footer__social {
    margin-top: 97px;
}

.main-footer__social ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.main-footer__social li {
    margin-right: 20px;
}

.main-footer__dev {
    margin-top: 97px;
}

.main-footer__dev span {
    color: #E60013;
}

.main-page__nav {
    position: absolute;
    top: 38%;
    left: 41px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.main-page__nav-block{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.main-page__nav-image {
    display: block;
}

.main-page__nav p {
    margin-left: 10px;
}

.main-page__nav::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -95px;
    left: 2px;
    width: 7px;
    height: 97px;
    background: url("../img/arrow-down.svg");
    opacity: 0.5;
}

.main-page__nav-separator {
    height: 20px;
    border-left: 1px solid #DADADA;
    margin-left: 4px;
    opacity: 0.5;
    margin-bottom: 15px;
}

.main-page__nav-block_no-active p {
    opacity: 0.5;
}

.main-page__nav-rectangle {
    width: 9px;
    height: 9px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    transform: rotate(-45deg);
}

.main-page__nav-rectangle_active {
    background: #FFF;
}

.main-page__mouse {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 67px;
}

.main-page__mouse::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 42px;
    height: 60px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}



.bread-crumb {
    margin-top: 40px;
}

.bread-crumb-p {
    color: rgba(255, 255, 255, 0.5);
}

.bread-crumb-p_select {
    color: #FFF;
}

.catalog-container {
    background: linear-gradient(180deg, rgba(11, 11, 11, 0.665) 0%,
        rgba(11, 11, 11, 0.95) 12.5%,
        rgba(11, 11, 11, 0.95) 25%,
        #0B0B0B 50%,
        #0B0B0B 67%,
        rgba(11, 11, 11, 0.01) 100%) no-repeat,
    url("../img/bg-catalog-up.jpg") 50% 0% no-repeat,
    url("../img/bg-catalog-down.jpg") 50% 100% no-repeat;
    padding: 20px 45px 81px;
}

.catalog__title {
    margin-top: 20px;
}

.catalog__filter-btn {
    box-sizing: border-box;
    width: 255px;
    height: 41px;
    margin-top: 60px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid #5D5B5A;
}

.catalog__filter-p:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background: url("../img/icon-filter.svg");
}

.filter {
    display: none;
    z-index: 100;
    position: absolute;
    left: -1px;
    top: -1px;
    box-sizing: border-box;
    width: 255px;
    border: 1px solid rgba(255,255,255,0.3);
    background: #000;
}

.filter__form {
    position: relative;
}

.filter_active {
    display: block;
}

.filter__title {
    position: relative;
    height: 75px;
    padding: 22px 22px 27px 22px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.filter__title:after {
    content: "";
    display: block;
    position: absolute;
    left: 22px;
    top: 53px;
    width: 44px;
    border-bottom: 2px solid #E60013;
}

.filter__close-btn {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.filter__paragraph {
    font-family: Days One, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #F8F8F8;
}

.filter__sections {
    padding: 40px 14px 0 22px;
}

.filter__section {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
}

.filter__section-title {
    text-align: left;
}

.filter__price-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__price-inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.filter__price-input {
    box-sizing: border-box;
    height: 36px;
    text-align: center;
    background: none;
    border: 1px solid rgba(248, 248, 248, 0.2);
}

.filter__price-min {
    width: 86px;
}

.filter__price-max {
    width: 103px;
}

.filter__price-slider-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.filter__price-slider {
    width: 210px;
    height: 4px;
    -webkit-appearance: none;
    appearance: none;
    background: #2E3033;
    outline: none;
}

.filter__price-slider-thumb {
    position: absolute;
    top:-6px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background: #E60013;
    border-radius: 50%;
}

.filter__price-slider-area {
    pointer-events: none;
    height: 100%;
    background-color: #E60013;
}

.filter__dropdown-select {
    box-sizing: border-box;
    width: 201px;
    height: 36px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgba(248, 248, 248, 0.2);
    border-top: none;
}

.filter__dropdown-btn {
    margin-top: 30px;
    justify-content: space-between;
    border: 1px solid rgba(248, 248, 248, 0.2);
}

.filter__dropdown-btn p {
    color: #C6C6C6;
}

.filter__dropdown-btn img {
    transform: rotate(180deg);
}

.filter__dropdown-selector {
    display: none;
    z-index: 200;
    position: absolute;
    left: 0;
    top: 88px;
    background: #000;
}

.filter__dropdown-selector_active {
    display: block;
}

.filter__checkbox-container,
.filter__radio-container {
    margin-top: 31px;
}

.filter__checkbox,
.filter__radio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-left: 30px;
    margin-top: 10px;
}

.filter__checkbox p,
.filter__radio p {
    opacity: 0.8;
    text-align: left;
}

.filter__checkbox-input,
.filter__radio-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
}

.filter__checkbox-input::before,
.filter__radio-input::before{
    content: "";
    z-index: 110;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(248, 248, 248, 0.2);
    box-sizing: border-box;
    background: #000;
}

.filter__checkbox-input::after,
.filter__radio-input::after {
    content: "";
    display: none;
    z-index: 120;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 8px;
    background: url("../img/icon-checkbox.svg");
}

.filter__checkbox-input:checked::after,
.filter__radio-input:checked::after {
    display: block;
}

.filter__radio-input::before {
    border: 1px solid #F8F8F8;
    border-radius: 50%;
}

.filter__radio-input::after {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #E60013;
}

.filter__radio-input:checked::before {
    border: 2px solid #E60013;
}

.filter__btn-title {
    text-align: center;
}

.filter__btn-container {
    box-sizing: border-box;
    width: 100%;
    height: 54px;
    border: 1px solid #E60013;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: 1px solid #E60013;
}

.filter__btn-submit-container {
    background: #E60013;
}

.filter__btn-submit {
    background: #E60013;
    border: none;
}

.filter__btn-reset {
    border: none;
    background: #000;
}

.bx-filter-popup-result {
    position: absolute;
    top: 0;
    left: 100%;
    width: 150px;
    padding: 10px 0;
    background: #000;
    border: 1px solid rgba(255,255,255,0.3);
}


.catalog__items {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    margin-top: 30px;
}

.catalog__item {
    padding: 10px 20px 25px;
    border: 1px solid rgba(255,255,255,0.1);
    box-sizing: border-box;
    position: relative;
}

.catalog__item-image {
    width: 214px;
    height: 210px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.catalog__item-image img {
    height: 100%; /* Ширина изображений */
}

.catalog__item:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 226px;
    width: 214px;
    border-bottom: 2px solid #E60013;
    opacity: 0.5;
}

.catalog-item__title-p {
    font-family: Days One, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 30px;
    height: 66px;
}

.catalog-item__btn {
    margin-top: 20px;
}

.catalog-element__top-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.catalog-element__left-section {
    width: 60%;
    margin-right: 20px;
}

.catalog-element__right-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog-element__button-pick-up-oil {
    width: 300px;
    padding-left: 38px;
}

.catalog-element__button-pick-up-oil:after {
    right: 38px;
}

.catalog-element__logo {
    margin-bottom: 30px;
}

.catalog-element__title {
    max-width: 645px;
}

.catalog-element__chars {
    margin-top: 60px;
    max-width: 535px;
}

.catalog-element__section-title {
    margin-bottom: 30px;
}

.catalog-element__section-title-p {
    position: relative;
    font-family: Days One;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #F8F8F8;
    text-transform: uppercase;
}

.catalog-element__section-title-p:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px;
    border-bottom: 2px solid #E60013;
}
.catalog-element__chars-element {
    box-sizing: border-box;
    min-height: 34px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(255,255,255,0.1);
}

.catalog-element__chars-element-p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFF;
}

.catalog-element__chars-element-title-p {
    color: rgba(248, 248, 248, 0.7);
}

.catalog-element__chars-element-title {
    width: 160px;
}

.catalog-element__btn {
    margin-top: 45px;
    margin-bottom: 15px;
}

.catalog-element__description {
    max-width: 540px;
}

.catalog-element__description-text-p {
    line-height: 24px;
}

.catalog-element__section {
    margin-top: 50px;
}

.catalog-element__features-item {
    position: relative;
    margin-left: 22px;
    margin-bottom: 30px;
}

.catalog-element__features-item:before {
    content: "";
    display: block;
    position: absolute;
    left: -24px;
    top: 6px;
    transform: rotate(-45deg);
    width: 9px;
    height: 9px;
    background: #E60013;
}

.catalog-element__packing-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.catalog-element__packing-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

.catalog-element__packing-item-p {
    border-bottom: 2px solid rgba(230, 0, 19, 0.5);
    min-height: 20px;
    margin-top: 15px;
}

.catalog-element__buttons-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.catalog-element__buttons-item {
    width: 223px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #5D5B5A;
}

.catalog-element__buttons-item:not(:first-child) {
    margin-left: -1px;
}

.catalog-element__buttons-item_active {
    z-index: 5;
    border: 2px solid #E60013;
    box-sizing: border-box;
}

.catalog-element__buttons-visible-section {
    padding: 30px 0 80px;
}
.catalog-element__questions {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    margin-top: 30px;
    margin-bottom: 40px;
}

.catalog-element__question {
    padding: 20px;
    border: 1px solid #5D5B5A;
    box-sizing: border-box;
}

.element__questions-time {
    margin-bottom: 10px;
}

.element__questions-author {
    margin-bottom: 10px;
}

.element__questions-author-p {
    font-family: Days One;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
}

.element__question-p {
    font-family: Days One;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.element__questions-author-p_red {
    color: #E60013;
}

.img__redline {
    width: 250px;
    margin: 30px 0;
    border-bottom: 2px solid #E60013;
}

.questions__form {
    width: 434px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.questions__form-item-container {
    width: 434px;
}

.questions__form-item {
    width: 100%;
    height: 65px;
    padding: 5px 15px 40px;
    margin-top: 27px;
    border: 2px solid rgba(255,255,255,0.5);
}

.questions__form-item legend {
    width: auto;
    padding: 0 5px;
    font-family: Days One, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFF;
}

.question__title {
    margin-bottom: 36px;
}

.questions__form-textarea {
    height: 108px;
    margin-bottom: 20px;
}

.personal-policy {
    margin-top: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #F8F8F8;
}

.question__form_button {
    position: relative;
    box-sizing: border-box;
    width: 434px;
    height: 54px;
    text-align: left;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 80px;
    background: #E60013;
    border: 2px solid #E60013;
}

.question__form_button:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 21px;
    width: 26px;
    height: 26px;
    background: url("../img/icon-question.svg");
}

.filter__checkbox-input-p {
    width: 270px;
    margin-left: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #F8F8F8;
}

.contacts__container {
    min-height: 533px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, #000000 100%),
    url("../img/bg-catalog.jpg") bottom;
    background-size: cover;
    padding-top: 1px;
}

.contacts__description {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    grid-row-gap: 3vw;
    margin-top: 60px;
}

.contacts_addr-choose {
    margin-bottom: 18px;
}

.contacts__description-section {

}

.contacts__description-title {
margin-bottom: 30px;
}

.contacts__description-title-p {
    font-family: Days One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
}

.select-addr {
    color: rgba(255, 255, 255, 0.5)
}

.selected-addr {
    color: #E60013;
}

.red {
    color: #E60013;
}

.contacts-img__container {
    padding: 0;
}

.not-found__container {
    position: relative;
    padding: 0;
}

.not-found__btn-container {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.not-found__btn {
    padding: 16px 94px;
}

.articles-page__container {
    padding-top: 45px;
    padding-bottom: 120px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0.95) 100%),
        url(../img/bg-articles-page.jpg) no-repeat;
    background-size: auto 282px;
}

.articles-page__title {
    margin: 20px 0 60px;
}

.articles__items-container {
    position: relative;
    margin-bottom: 100px;
}

.articles__pagination {
    bottom: -120px;
}

.questions__pagination {
    bottom: -60px;
}

.modal-window {
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-window__container {
    z-index: 200;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    width: 614px;
    padding: 90px;
    padding-right: 75px;
    margin: auto;
    background: #000;
}

.modal-window:target {
    display: block;
}

.modal-window__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
}

.g-recaptcha {
    margin: 30px 0 10px;
}

.auth-form__button {
    box-sizing: border-box;
    width: 434px;
    height: 54px;
    text-align: center;
    margin-top: 15px;
    background: #E60013;
    border: 2px solid #E60013;
}

.auth-form__forgot-pass {
    margin-top: 15px;
    text-align: center;
}

.modal-window__auth-error {
    margin-top: 40px;
}

.modal-window__separator {
    width: 432px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-window__separator-line {
    border-top: 2px solid rgba(255,255,255,0.5);
    width: 100%;
}

.modal-window__separator-p {
    font-family: Days One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 10px;
}

.auth-form__button_reg {
    box-sizing: border-box;
    width: 434px;
    height: 54px;
    margin-top: 15px;
    border: 2px solid #E60013;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-pass-description {
    margin: 30px 0;
}

.forgot-pass__item-container {
    margin-top: 73px;
    min-height: 919px;
}

.profile-cabinet__container {
    padding-top: 54px;
    padding-bottom: 160px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.9)),
        url(../img/bg-about-brand.jpg);
    background-size: cover;
}

.profile-cabinet__bread-crumb {
    text-align: center;
    margin: 0 0 20px;
}

.profile-cabinet__title {
    margin-bottom: 60px;
}

.profile-cabinet__title::after {
    top: 45px;
    left: 50%;
    width: 90px;
    opacity: 1;
    border-bottom: 3px solid #E60013;
}

.profile-cabinet__item {
    min-height: 200px;
}

.profile-cabinet__item_center {
    margin-top: 50px;
}

.profile-cabinet__item_right {
    margin-top: 100px;
}

.profile-cabinet__item-title {
    font-family: Days One;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 62px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.profile-cabinet__item_logo {
    margin-bottom: 40px;
}

.registration__container {
    min-height: 846px;
    padding-top: 5px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8075) 0%,
    rgba(0, 0, 0, 0.95) 100%),
    url(../img/bg-catalog.jpg);
}

.questions__form-items-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 60px;
}

.questions__form-items-left {
    margin-right: 30px;
}

.registration__sign-btn {
    width: 434px;
    margin-top: 10px;
    text-align: center;
}

.registration__sign-btn a {
    text-decoration: underline;
}

.change-pass__container {
    padding-bottom: 120px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8075) 0%,
    rgba(0, 0, 0, 0.95) 100%),
    url(../img/bg-catalog.jpg) center;
}

.change-pass__button {
    width: 182px;
    margin-left: 32px;
}

.change-pass__form-items-container {
    align-items: flex-end;
}

.profile__container {
    padding-top: 50px;
    padding-bottom: 123px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8075) 0%,
    rgba(0, 0, 0, 0.95) 100%) 100% -200px no-repeat,
    url(../img/bg-catalog.jpg) 100% -300px no-repeat;
}

.profile-section__title-p {
    font-family: Days One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}

.profile-section__title {
    margin: 60px 0 0;
}

.profile__btn {
    margin-top: 38px;
}

.profile__form-items-container {
    margin-top: 0;
}

.login-form {

}